@layer utilities {
  .u-pad { padding: var(--u-pad, var(--pad)); }
  .u-pad-sm { --u-pad: var(--pad-sm); }
  .u-pad-lg { --u-pad: var(--pad-lg); }
  .u-pad-xl { --u-pad: var(--pad-xl); }
  .u-pad-x { padding-inline: var(--u-pad, var(--pad)); }
  .u-pad-y { padding-block: var(--u-pad, var(--pad)); }
  .u-pad-gutter { padding-inline: var(--gutter); }
}
